

@media screen and (min-width: 54rem){
    .body header .head-image {
        width: 12rem;
    }

    .body header span {
        font-size: 4.4rem;
    }
    .sport-cards {
    .all-leagues, .all-countries, .fixtures, .team-squad{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      h2{
        grid-column: 1/4;
      }
    }
  }
}

@media screen and (min-width: 67.5rem) {
    .sport-cards {
    .all-leagues, .all-countries, .fixtures, .team-squad{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      h2{
        grid-column: 1/5;
      }
    }
  }
}

