:root {
  --green-color: #004f2d;
  --blue-color: #002798;
  --white-color: #ffffff;
  --carbon-black: #031c0c;
  --purple-color: #4c0651;
  --cream-color: #e5d7d7;
  --red-color: #ad2196;
  --submit-text: #ff2222;
  --grey-color: #828886;
  --navtext-color: #e3e3e3;
  --allborder-radius: 0.8rem;
  --regular-border: 2px solid;
  --heading-font-family: "Sofia", sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato" sans-serif;
}

@keyframes slide {
  from {
    transform: translate(100%);
    opacity: 0;
    background-color: var(--grey-color);
    border: 1rem solid var(--green-color);
    border-radius: 1.2rem;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes animate-form {
  from {
    transform: translate(0);
    background-color: var(--grey-color);
    border: 1px solid var(--purple-color);
    border-radius: 25%;
  }
  to {
    transform: translate(1);
    background-color: var(--cream-color);
    border: 1px solid var(--carbon-black);
    border-radius: 8px;
  }
}

@keyframes animate-nav {
  from{
    transform: translate(1);
    background-color: var(--white-color);
    color: var(--carbon-black);
  }
  to{
    transform: translate(-1);
    background-color: var(--carbon-black);
    color: var(--navtext-color);
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.4rem 0.4rem 0 0.4rem;
  background-color: var(--blue-color);
}

@media screen and (max-width: 22rem) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    .head-image {
      margin: 0 auto;
    }
  }
  nav {
    margin: 0;
    padding: 0;
    animation: animate-nav 2s ease-in-out;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.8rem;
  }
  li {
    border-bottom: var(--regular-border) var(--white-color);
    margin: 1rem 0;
  }

  label[for="search"] {
    display: flex;
    flex-direction: column;
    input {
      width: auto;
      height: auto;
    }
  }
}

header img {
  max-width: 320px;
  border: var(--regular-border) var(--green-color);
  border-radius: var(--allborder-radius);
  margin: 0.5rem 0 0 0.5rem;
}

.site-name {
  font-size: 2.5rem;
  font-family: var(--heading-font-family);
  color: var(--white-color);
  margin: 0 auto;
}
nav {
  background-color: var(--carbon-black);
  padding-left: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  border: 2px solid var(--carbon-black);
  border-radius: var(--allborder-radius);
}

li {
  list-style-type: none;
  border-radius: 0.5rem;
}
nav li a {
  color: var(--navtext-color);
  font-size: 1.6rem;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
main img {
  width: 100%;
  margin: 0 auto;
}

.hero-container img {
  transition: transform 4s;
  transform-style: preserve-3d;
  
}

.hero-container img:hover {
  transform: rotateY(360deg);
  border-radius: 20%;
}
main h1 {
  background-color: var(--carbon-black);
  color: var(--navtext-color);
  text-align: center;
  font-family: "Sofia", sans-serif;
  margin: 0.8rem;
}

.current {
  border-bottom: var(--regular-border) var(--red-color);
}

.intro {
  line-height: 2.2rem;
}

main p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding: 0.8rem;
}

main .events {
  display: grid;
  grid-column-gap: 0.2rem solid var(--grey-color);
}

.events section {
  border: var(--regular-border) var(--grey-color);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.events div {
  align-items: center;
}

.events div p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  :first-child {
    text-align: right;
  }
  :last-child {
    text-align: left;
  }
}

h2 {
  background-color: var(--carbon-black);
  color: var(--navtext-color);
  font-family: "Sofia", sans-serif;
}

.score-table {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  border-spacing: 1.2rem;
}

tr :first-child,
.th {
  background-color: var(--grey-color);
}
tr .td {
  background-color: rgb(180, 176, 176);
}

/***************************** Sport page ***************************/

label[for="search"] {
  display: grid;
  padding: 1.2rem;
  button {
    max-width: 30rem;
    min-width: 2rem;
    font-size: 1.4rem;
    border: var(--regular-border);
    background-color: var(--purple-color);
    color: var(--cream-color);
    padding: 0.4rem;
  }
  input {
    border: var(--regular-border) var(--carbon-black);
    margin: 0.8rem 0;
    font-size: 1.6rem;
    min-height: 3rem;
    max-width: 30rem;
  }
}

.sport-cards div {
  animation: slide 2s ease-in-out;
}

.sport-cards {
  display: grid;
  padding: 1.2rem;
  grid-row-gap: 1.2rem;
  .all-leagues {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.6rem;
    p {
      margin: 0.2rem;
      padding: 0;
      font-size: 1.2rem;
    }
  }

  .all-countries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
    div {
      border: var(--regular-border);
    }
  }
  h2 {
    text-align: center;
  }

  .fixtures {
    display: grid;
    grid-gap: 0.8rem;
    div {
      display: grid;
      border: var(--regular-border);
      .club-name {
        border-bottom: var(--regular-border);
        font-family: "Sofia", sans-serif;
        font-size: 1.6rem;
      }
    }
  }

  .team-squad {
    display: grid;
    grid-gap: 0.8rem;

    div {
      border: var(--regular-border) var(--carbon-black);
    }
    .player-name {
      border-bottom: var(--regular-border) var(--carbon-black);
      background-color: var(--white-color);
      color: var(--carbon-black);
      font-size: 1.6rem;
      font-family: "Sofia", sans-serif;
    }
  }
}

.league-container {
  border: var(--regular-border);
  padding: 0.8rem;
}

.logo-name {
  display: flex;
  span {
    text-align: left;
  }
  .league-name {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--purple-color);
    padding: 2rem 0 0 0;
    border-bottom: var(--regular-border);
  }
  img {
    max-width: 4rem;
    height: auto;
    justify-self: left;
  }
}

/************************* Contact Us Page **************************/
.form-container {
  display: grid;
  justify-content: center;
  button {
    font-size: 1.4rem;
    margin: 1.2rem;
    border: var(--regular-border) var(--carbon-black);
    background-color: var(--navtext-color);
    color: var(--submit-text);
  }
}
.reg-form h2 {
  text-align: center;
}
fieldset {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;
  font-size: 1.5rem;
  margin-top: 1.2rem;
  label {
    display: grid;
  }

  .req {
    color: var(--submit-text);
    font-size: 0.8rem;
  }
  input {
    font-size: 1.4rem;
    border: var(--regular-border);
    min-height: 3rem;
    padding: 1rem 1rem 0;
    animation: animate-form 2s ease-in-out;
  }
}

select > *:first-child {
  -webkit-user-select: none;
  user-select: none;
}

select {
  font-size: 1.4rem;
}

fieldset legend {
  font-size: 1.6rem;
}

footer {
  background-color: var(--blue-color);
  display: grid;
  border: 2px solid var(--carbon-black);
}

footer section,
footer div {
  margin-top: 0.5rem;
  border-top: 2px solid var(--carbon-black);
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer h2 {
  grid-column: 1/4;
  font-family: "Sofia";
  color: var(--white-color);
  text-align: center;
  margin: 0.5rem auto;
  border-bottom: var(--regular-border) var(--grey-color);
  max-width: 50%;
}

.demonstration {
  grid-column: 1/4;
}

.demonstration span {
  background-color: var(--white-color);
  padding: 0.2rem;
  color: var(--red-color);
  border: var(--regular-border) var(--grey-color);
  border-radius: var(--allborder-radius);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 100%;
}

.social-list {
  text-align: center;
  margin-top: 1.2rem;
}

.social p a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
}

footer p {
  font-size: 1.2rem;
  color: var(--white-color);
  font-family: "Lato", sans-serif;
  text-align: center;
}
